<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CrearCircuito</servlet-name>
        <servlet-class>com.fia.kers.CrearCircuito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCoche</servlet-name>
        <servlet-class>com.fia.kers.CrearCoche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalcularGanancia</servlet-name>
        <servlet-class>com.fia.kers.CalcularGanancia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearCircuito</servlet-name>
        <url-pattern>/CrearCircuito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCoche</servlet-name>
        <url-pattern>/CrearCoche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcularGanancia</servlet-name>
        <url-pattern>/CalcularGanancia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
