<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CrearAcompañante</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearAcompañante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearAcompañanteBillete</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearAcompañanteBillete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearAdministrador</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearAeropuerto</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearAeropuerto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearAvion</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearAvion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearBillete</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearBillete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearBilleteRuta</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearBilleteRuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearClase</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearClase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearClaseAvion</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearClaseAvion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCliente</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearOperacion</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearOperacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearPersona</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearRuta</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearRuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTarjetaBancaria</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearTarjetaBancaria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTasas</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.CrearTasas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarVuelo</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.BuscarVuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPrecioRuta</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.ModificarPrecioRuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarOrigenRuta</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.ModificarOrigenRuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDestinoRuta</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.ModificarDestinoRuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarVuelo</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.SeleccionarVuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pago</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.Pago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarCompra</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.FinalizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estadisticas</servlet-name>
        <servlet-class>com.practicafinal.ventabilletes.servlets.Estadisticas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearAcompañante</servlet-name>
        <url-pattern>/CrearAcompañante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearAcompañanteBillete</servlet-name>
        <url-pattern>/CrearAcompañanteBillete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearAdministrador</servlet-name>
        <url-pattern>/CrearAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearAeropuerto</servlet-name>
        <url-pattern>/CrearAeropuerto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearAvion</servlet-name>
        <url-pattern>/CrearAvion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearBillete</servlet-name>
        <url-pattern>/CrearBillete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearBilleteRuta</servlet-name>
        <url-pattern>/CrearBilleteRuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearClase</servlet-name>
        <url-pattern>/CrearClase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearClaseAvion</servlet-name>
        <url-pattern>/CrearClaseAvion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCliente</servlet-name>
        <url-pattern>/CrearCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearOperacion</servlet-name>
        <url-pattern>/CrearOperacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearPersona</servlet-name>
        <url-pattern>/CrearPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearRuta</servlet-name>
        <url-pattern>/CrearRuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTarjetaBancaria</servlet-name>
        <url-pattern>/CrearTarjetaBancaria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTasas</servlet-name>
        <url-pattern>/CrearTasas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarVuelo</servlet-name>
        <url-pattern>/BuscarVuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPrecioRuta</servlet-name>
        <url-pattern>/ModificarPrecioRuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarOrigenRuta</servlet-name>
        <url-pattern>/ModificarOrigenRuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDestinoRuta</servlet-name>
        <url-pattern>/ModificarDestinoRuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarVuelo</servlet-name>
        <url-pattern>/SeleccionarVuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pago</servlet-name>
        <url-pattern>/Pago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarCompra</servlet-name>
        <url-pattern>/FinalizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Estadisticas</servlet-name>
        <url-pattern>/Estadisticas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
